<section id="section_wiki_index">
	<div class="container">
		<div class="row">

			<div class="col-4">
				<%= render "list_group" %>
			</div>

			<div class="col-8">
				<% @articles.each do |article| %>
					<%= link_to article_path(article), style: "text-decoration: none;" do %>
						<div class="card border-info mb-3">
						  <div class="card-header border-info"><i class="fab fa-odnoklassniki"></i>Wiki</div>
						  <div class="card-body">
						    <h5 class="card-title"><%= article.title %></h5>
						    <p class="card-text"><%= truncate(article.content, length: 270) %></p>
						  </div>
						  <div class="card-footer border-info">
						  	Published at <%= article.created_at.strftime("%b %d, %Y") %>
						  </div>
						</div>
					<% end %>
				<% end %>
			</div>


		</div>
	</div>
</section>